<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssuredProject">
    <test name="all tests">
        <classes>
            <class name="ApiProject.tests.TestUsers"/>
            <class name="ApiProject.tests.TestPosts"/>
        </classes>
    </test>
</suite>